* MAIN REQUIREMENTS ,YOU MAY NEED TO UPDATE FEW DEPENDENCIES

fastapi==0.70.0
uvicorn==0.15.0
pydantic==1.8.2
bcrypt==3.2.0
python-jose==3.3.0
sqlalchemy==1.4.25
pillow==8.3.2
torch==1.9.0
torchvision==0.10.0
diffusers==0.2.4
